node_modules
.vscode
.DS_Store
*.log
examples
commit.json
yarn.lock
.size-snapshot.json
package-lock.json
package.json
package-lock.json
dist/artplayer.js
packages/artplayer/dist/artplayer.js
package-lock.json
