.vscode
.DS_Store
.parcel-cache
node_modules
package-lock.json
yarn.lock
.size-snapshot.json
docs/compiled/
packages/artplayer-plugin-ads/dist/
packages/artplayer/dist/
packages/artplayer-plugin-danmuku/dist/
docs/compiled/
packages/artplayer-tool-thumbnail/dist/
packages/artplayer-plugin-vtt-thumbnail/dist/
packages/universal-video/dist/
